# Resources
 - https://towardsdatascience.com/data-driven-approach-to-understanding-hdb-resale-prices-in-singapore-31c3beecfd97
 - https://github.com/mylee16/onemap-api

In [19]:
import pandas as pd
import requests
# https://data.gov.sg/dataset/hdb-property-information?resource_id=482bfa14-2977-4035-9c61-c85f871daf4e
df = pd.read_csv(r"hdb-property-information.csv")
df.head()

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,138,1,2,0,0,0,0,0,0,0
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,204,0,2,0,0,0,0,0,0,0
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,10,92,0,0,0,0,0,0,0
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,54,0,1,0,0,0,0,0,0,0

In [20]:
df

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,138,1,2,0,0,0,0,0,0,0
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,204,0,2,0,0,0,0,0,0,0
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,10,92,0,0,0,0,0,0,0
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,54,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12490,998A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,33,50,0,0,0,0,0,0,0,0
12491,998B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,31,47,0,0,0,0,0,0,0,0
12492,999,BUANGKOK CRES,2,2018,N,N,N,Y,N,Y,...,0,0,0,0,0,0,0,0,0,0
12493,999A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,0,0,0,0,0,0,136,170,0,0
12494,999B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,31,95,0,0,0,0,0,0,0,0

In [21]:
df.describe()

,max_floor_lvl,year_completed,total_dwelling_units,1room_sold,2room_sold,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
count,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000,12495.000000
mean,12.050340,1993.669628,87.746459,0.020328,2.561905,19.663225,34.668107,19.827131,5.181993,0.029372,0.696919,2.456182,2.493717,0.136775,0.009844
std,7.083527,14.069064,65.912181,2.272300,14.792687,45.048503,40.695607,29.836662,17.413621,1.230392,7.735188,24.450130,21.510220,2.707164,0.512669
min,1.000000,1937.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,1984.000000,33.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.000000,1993.000000,91.000000,0.000000,0.000000,0.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,16.000000,2001.000000,120.000000,0.000000,0.000000,6.000000,58.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,50.000000,2022.000000,584.000000,254.000000,234.000000,528.000000,316.000000,164.000000,135.000000,66.000000,200.000000,520.000000,452.000000,114.000000,32.000000

In [22]:
df.groupby(["blk_no", "street"]).size().reset_index()

      blk_no             street  0
0          1           BEACH RD  1
1          1    BEDOK STH AVE 1  1
2          1      CANTONMENT RD  1
3          1       CHAI CHEE RD  1
4          1  CHANGI VILLAGE RD  1
...      ...                ... ..
12490     9A      BOON TIONG RD  1
12491     9A        JOO SENG RD  1
12492     9A         SELEGIE RD  1
12493     9B      BOON TIONG RD  1
12494     9C      BOON TIONG RD  1

[12495 rows x 3 columns]

In [23]:
df.columns

Index(['blk_no', 'street', 'max_floor_lvl', 'year_completed', 'residential',
       'commercial', 'market_hawker', 'miscellaneous', 'multistorey_carpark',
       'precinct_pavilion', 'bldg_contract_town', 'total_dwelling_units',
       '1room_sold', '2room_sold', '3room_sold', '4room_sold', '5room_sold',
       'exec_sold', 'multigen_sold', 'studio_apartment_sold', '1room_rental',
       '2room_rental', '3room_rental', 'other_room_rental'],
      dtype='object')

In [24]:
lst = ['1room_sold', '2room_sold', '3room_sold', '4room_sold', '5room_sold', 'exec_sold', 'multigen_sold', 'studio_apartment_sold']

string = ""
for i in lst:
    string += f" (df['{i}'] > 0 ) |"

string

" (df['1room_sold'] > 0 ) | (df['2room_sold'] > 0 ) | (df['3room_sold'] > 0 ) | (df['4room_sold'] > 0 ) | (df['5room_sold'] > 0 ) | (df['exec_sold'] > 0 ) | (df['multigen_sold'] > 0 ) | (df['studio_apartment_sold'] > 0 ) |"

## Filter out HDBs that are not sold

In [8]:
df_processed = df[(df['1room_sold'] > 0 ) | (df['2room_sold'] > 0 ) | (df['3room_sold'] > 0 ) | (df['4room_sold'] > 0 ) | (df['5room_sold'] > 0 ) | (df['exec_sold'] > 0 ) | (df['multigen_sold'] > 0 ) | (df['studio_apartment_sold'] > 0 )]

df_processed

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,138,1,2,0,0,0,0,0,0,0
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,204,0,2,0,0,0,0,0,0,0
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,10,92,0,0,0,0,0,0,0
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,54,0,1,0,0,0,0,0,0,0
5,1,DELTA AVE,25,1982,Y,N,N,N,N,N,...,0,0,96,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12486,997B,BUANGKOK CRES,16,2017,Y,N,N,Y,N,N,...,0,60,104,0,0,0,0,0,0,0
12487,997C,BUANGKOK CRES,16,2017,Y,N,N,N,N,N,...,0,90,75,0,0,0,0,0,0,0
12490,998A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,33,50,0,0,0,0,0,0,0,0
12491,998B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,31,47,0,0,0,0,0,0,0,0
12494,999B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,31,95,0,0,0,0,0,0,0,0

In [25]:
df_processed[df_processed["residential"]=="Y"]

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental,Address
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,1,2,0,0,0,0,0,0,0,1 BEACH RD
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,0,2,0,0,0,0,0,0,0,1 BEDOK STH AVE 1
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,10,92,0,0,0,0,0,0,0,1 CHAI CHEE RD
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,0,1,0,0,0,0,0,0,0,1 CHANGI VILLAGE RD
5,1,DELTA AVE,25,1982,Y,N,N,N,N,N,...,0,96,0,0,0,0,0,0,0,1 DELTA AVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12486,997B,BUANGKOK CRES,16,2017,Y,N,N,Y,N,N,...,60,104,0,0,0,0,0,0,0,997B BUANGKOK CRES
12487,997C,BUANGKOK CRES,16,2017,Y,N,N,N,N,N,...,90,75,0,0,0,0,0,0,0,997C BUANGKOK CRES
12490,998A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,50,0,0,0,0,0,0,0,0,998A BUANGKOK CRES
12491,998B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,47,0,0,0,0,0,0,0,0,998B BUANGKOK CRES
12494,999B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,95,0,0,0,0,0,0,0,0,999B BUANGKOK CRES

In [26]:
df_processed.groupby(["blk_no", "street"]).size().reset_index()

     blk_no             street  0
0         1           BEACH RD  1
1         1    BEDOK STH AVE 1  1
2         1       CHAI CHEE RD  1
3         1  CHANGI VILLAGE RD  1
4         1          DELTA AVE  1
...     ...                ... ..
9943    99A    LOR 2 TOA PAYOH  1
9944    99B    LOR 2 TOA PAYOH  1
9945    99C    LOR 2 TOA PAYOH  1
9946     9A      BOON TIONG RD  1
9947     9B      BOON TIONG RD  1

[9948 rows x 3 columns]

In [27]:
# create address list to be inputted into API
df = df_processed
df['Address'] = df['blk_no'] + " " + df['street']
addresslist = list(df['Address'])
addresslist

c:\Users\Zhili\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

['1 BEACH RD',
 '1 BEDOK STH AVE 1',
 '1 CHAI CHEE RD',
 '1 CHANGI VILLAGE RD',
 '1 DELTA AVE',
 '1 DOVER RD',
 '1 EVERTON PK',
 '1 GHIM MOH RD',
 '1 HAIG RD',
 '1 HOUGANG AVE 3',
 '1 JLN BT MERAH',
 '1 KG KAYU RD',
 '1 LOR 7 TOA PAYOH',
 '1 LOR LEW LIAN',
 '1 MARINE TER',
 '1 MARSILING DR',
 '1 PINE CL',
 "1 QUEEN'S RD",
 "1 ST. GEORGE'S RD",
 '1 TECK WHYE AVE',
 '1 TELOK BLANGAH CRES',
 '1 TG PAGAR PLAZA',
 '1 TOH YI DR',
 '1A CANTONMENT RD',
 '1B CANTONMENT RD',
 '1C CANTONMENT RD',
 '1D CANTONMENT RD',
 '1E CANTONMENT RD',
 '1F CANTONMENT RD',
 '1G CANTONMENT RD',
 '10 CHAI CHEE RD',
 '10 EUNOS CRES',
 '10 GLOUCESTER RD',
 '10 HAIG RD',
 '10 HOLLAND AVE',
 '10 JLN BT HO SWEE',
 '10 JLN RUMAH TINGGI',
 '10 JLN BATU',
 '10 JLN KUKOH',
 '10 JOO SENG RD',
 '10 LOR 7 TOA PAYOH',
 '10 MARSILING DR',
 '10 PINE CL',
 '10 SELEGIE RD',
 "10 ST. GEORGE'S RD",
 '10 TECK WHYE AVE',
 '10 TELOK BLANGAH CRES',
 '10 TOH YI DR',
 '10A BENDEMEER RD',
 '10A BOON TIONG RD',
 '10B BENDEMEER RD',
 '10B BEDOK STH AVE 2',
 '10B BOON TIONG RD',
 '10B LOR 7 TOA PAYOH',
 '10C BENDEMEER RD',
 '10C BEDOK STH AVE 2',
 '10D BEDOK STH AVE 2',
 '10E BEDOK STH AVE 2',
 '10F BEDOK STH AVE 2',
 '100 BEDOK NTH AVE 4',
 "100 C'WEALTH CRES",
 '100 LOR 1 TOA PAYOH',
 '100 WHAMPOA DR',
 '101 AH HOOD RD',
 '101 ALJUNIED CRES',
 '101 ANG MO KIO AVE 3',
 '101 BEDOK RESERVOIR RD',
 '101 BEDOK NTH AVE 4',
 '101 BISHAN ST 12',
 '101 BT PURMEI RD',
 '101 BT BATOK WEST AVE 6',
 "101 C'WEALTH CRES",
 '101 CLEMENTI ST 14',
 '101 GANGSA RD',
 '101 HENDERSON CRES',
 '101 HOUGANG AVE 1',
 '101 JLN RAJAH',
 '101 JURONG EAST ST 13',
 '101 LENGKONG TIGA',
 '101 PASIR RIS ST 12',
 '101 POTONG PASIR AVE 1',
 '101 RIVERVALE WALK',
 '101 SERANGOON NTH AVE 1',
 '101 SIMEI ST 1',
 '101 SPOTTISWOODE PK RD',
 '101 TAMPINES ST 11',
 '101 TECK WHYE LANE',
 '101 TOWNER RD',
 '101 WHAMPOA DR',
 '101 WOODLANDS ST 13',
 '101 YISHUN AVE 5',
 '101A BIDADARI PK DR',
 '101A CANBERRA ST',
 '101A LOR 2 TOA PAYOH',
 '101A PUNGGOL FIELD',
 '101B CANBERRA ST',
 '101B LOR 2 TOA PAYOH',
 '101B PUNGGOL FIELD',
 '101C PUNGGOL FIELD',
 '101D PUNGGOL FIELD',
 '102 ALJUNIED CRES',
 '102 ANG MO KIO AVE 3',
 '102 BEDOK RESERVOIR RD',
 '102 BEDOK NTH AVE 4',
 '102 BISHAN ST 12',
 '102 BT BATOK WEST AVE 6',
 '102 BT PURMEI RD',
 "102 C'WEALTH CRES",
 '102 CLEMENTI ST 14',
 '102 GANGSA RD',
 '102 HENDERSON CRES',
 '102 HOUGANG AVE 1',
 '102 JLN DUSUN',
 '102 JLN RAJAH',
 '102 JURONG EAST ST 13',
 '102 LENGKONG TIGA',
 '102 PASIR RIS ST 12',
 '102 POTONG PASIR AVE 1',
 '102 RIVERVALE WALK',
 '102 SERANGOON NTH AVE 1',
 '102 SIMEI ST 1',
 '102 SPOTTISWOODE PK RD',
 '102 TAMPINES ST 11',
 '102 TECK WHYE LANE',
 '102 TOWNER RD',
 '102 WOODLANDS ST 13',
 '102A BIDADARI PK DR',
 '102A CANBERRA ST',
 '102A DEPOT RD',
 '102A PUNGGOL FIELD',
 '102B BIDADARI PK DR',
 '102B CANBERRA ST',
 '102B PUNGGOL FIELD',
 '102C PUNGGOL FIELD',
 '102D PUNGGOL FIELD',
 '103 AH HOOD RD',
 '103 ANG MO KIO AVE 3',
 '103 BEDOK NTH AVE 4',
 '103 BEDOK RESERVOIR RD',
 '103 BISHAN ST 12',
 '103 BT BATOK CTRL',
 '103 BT PURMEI RD',
 '103 CLEMENTI ST 14',
 '103 GANGSA RD',
 '103 HENDERSON CRES',
 '103 HOUGANG AVE 1',
 '103 JLN RAJAH',
 '103 JURONG EAST ST 13',
 '103 LENGKONG TIGA',
 '103 PASIR RIS ST 12',
 '103 POTONG PASIR AVE 1',
 '103 RIVERVALE WALK',
 '103 SERANGOON NTH AVE 1',
 '103 SPOTTISWOODE PK RD',
 '103 TAMPINES ST 11',
 '103 TECK WHYE LANE',
 '103 TOWNER RD',
 '103 WOODLANDS ST 13',
 '103 YISHUN RING RD',
 '103A BIDADARI PK DR',
 '103A CANBERRA ST',
 '103A DEPOT RD',
 '103A EDGEFIELD PLAINS',
 '103B BIDADARI PK DR',
 '103B CANBERRA ST',
 '103B DEPOT RD',
 '103B EDGEFIELD PLAINS',
 '103C EDGEFIELD PLAINS',
 '104 ALJUNIED CRES',
 '104 BEDOK RESERVOIR RD',
 '104 BEDOK NTH AVE 4',
 '104 BISHAN ST 12',
 '104 BT BATOK CTRL',
 '104 BT PURMEI RD',
 '104 CLEMENTI ST 14',
 '104 GANGSA RD',
 '104 HENDERSON CRES',
 '104 HOUGANG AVE 1',
 '104 JLN DUSUN',
 '104 JLN RAJAH',
 '104 JURONG EAST ST 13',
 '104 LENGKONG TIGA',
 '104 PASIR RIS ST 12',
 '104 POTONG PASIR AVE 1',
 '104 RIVERVALE WALK',
 '104 SERANGOON NTH AVE 1',
 '104 SPOTTISWOODE PK RD',
 '104 TAMPINES ST 11',
 '104 TECK WHYE LANE',
 '104 TOWNER RD',
 '104 WHAMPOA DR',
 '104 WOODLANDS ST 13',
 '104A ANG MO KIO ST 11',
 '104A BIDADARI PK DR',
 '104A CANBERRA ST',
 '104A DEPOT RD',
 '104A EDGEFIELD PLAINS',
 '104B ANG MO KIO ST 11',
 '104B CANBERRA ST',
 '104B DEPOT RD',
 '104B EDGEFIELD PLAINS',
 '104C CANBERRA ST',
 '104D CANBERRA ST',
 '105 ALJUNIED CRES',
 '105 ANG MO KIO AVE 4',
 '105 BEDOK RESERVOIR RD',
 '105 BEDOK NTH AVE 4',
 '105 BISHAN ST 12',
 '105 BT BATOK CTRL',
 '105 BT PURMEI RD',
 '105 CLEMENTI ST 12',
 '105 GANGSA RD',
 '105 HENDERSON CRES',
 '105 JLN RAJAH',
 '105 JURONG EAST ST 13',
 '105 LENGKONG TIGA',
 '105 PASIR RIS ST 12',
 '105 POTONG PASIR AVE 1',
 '105 RIVERVALE WALK',
 '105 SERANGOON NTH AVE 1',
 '105 SIMEI ST 1',
 '105 SPOTTISWOODE PK RD',
 '105 TAMPINES ST 11',
 '105 TECK WHYE LANE',
 '105 TOWNER RD',
 '105 WOODLANDS ST 13',
 '105A BIDADARI PK DR',
 '105A DEPOT RD',
 '105A EDGEFIELD PLAINS',
 '105B BIDADARI PK DR',
 '105B EDGEFIELD PLAINS',
 '105C EDGEFIELD PLAINS',
 '105D EDGEFIELD PLAINS',
 '106 ALJUNIED CRES',
 '106 ANG MO KIO AVE 4',
 '106 BEDOK NTH AVE 4',
 '106 BEDOK RESERVOIR RD',
 '106 BISHAN ST 12',
 '106 BT BATOK CTRL',
 '106 BT PURMEI RD',
 '106 GANGSA RD',
 '106 HENDERSON CRES',
 '106 HOUGANG AVE 1',
 '106 JLN RAJAH',
 '106 JLN DUSUN',
 '106 JURONG EAST ST 13',
 '106 LENGKONG TIGA',
 '106 PASIR RIS ST 12',
 '106 POTONG PASIR AVE 1',
 '106 RIVERVALE WALK',
 '106 SERANGOON NTH AVE 1',
 '106 SIMEI ST 1',
 '106 SPOTTISWOODE PK RD',
 '106 TAMPINES ST 11',
 '106 TECK WHYE LANE',
 '106 TOWNER RD',
 '106 WOODLANDS ST 13',
 '106 YISHUN RING RD',
 '106A BIDADARI PK DR',
 '106A DEPOT RD',
 '106A PUNGGOL FIELD',
 '106B BIDADARI PK DR',
 '106B DEPOT RD',
 '106B PUNGGOL FIELD',
 '106C PUNGGOL FIELD',
 '106D PUNGGOL FIELD',
 '107 ALJUNIED CRES',
 '107 ANG MO KIO AVE 4',
 '107 BEDOK NTH RD',
 '107 BEDOK RESERVOIR RD',
 '107 BISHAN ST 12',
 '107 BT PURMEI RD',
 '107 BT BATOK WEST AVE 6',
 '107 GANGSA RD',
 '107 JLN BT MERAH',
 '107 JLN RAJAH',
 '107 JURONG EAST ST 13',
 '107 LENGKONG TIGA',
 '107 LOR 1 TOA PAYOH',
 '107 PASIR RIS ST 12',
 '107 POTONG PASIR AVE 1',
 '107 RIVERVALE WALK',
 '107 SERANGOON NTH AVE 1',
 '107 SIMEI ST 1',
 '107 SPOTTISWOODE PK RD',
 '107 TAMPINES ST 11',
 '107 TECK WHYE LANE',
 '107 TOWNER RD',
 '107 WOODLANDS ST 13',
 '107 YISHUN RING RD',
 '107A BIDADARI PK DR',
 '107A CANBERRA ST',
 '107A EDGEFIELD PLAINS',
 '107B BIDADARI PK DR',
 '107B CANBERRA ST',
 '107B EDGEFIELD PLAINS',
 '107C CANBERRA ST',
 '107C EDGEFIELD PLAINS',
 '107D EDGEFIELD PLAINS',
 '108 ALJUNIED CRES',
 '108 ANG MO KIO AVE 4',
 '108 BEDOK RESERVOIR RD',
 '108 BEDOK NTH RD',
 '108 BISHAN ST 12',
 '108 BT PURMEI RD',
 '108 BT BATOK WEST AVE 6',
 "108 C'WEALTH CRES",
 '108 GANGSA RD',
 '108 HOUGANG AVE 1',
 '108 JLN BT MERAH',
 '108 JLN RAJAH',
 '108 JURONG EAST ST 13',
 '108 LENGKONG TIGA',
 '108 LOR 1 TOA PAYOH',
 '108 MCNAIR RD',
 '108 PASIR RIS ST 12',
 '108 POTONG PASIR AVE 1',
 '108 RIVERVALE WALK',
 '108 SERANGOON NTH AVE 1',
 '108 SIMEI ST 1',
 '108 TAMPINES ST 11',
 '108 TECK WHYE LANE',
 '108 WOODLANDS ST 13',
 '108 YISHUN RING RD',
 '108A BIDADARI PK DR',
 '108A CANBERRA WALK',
 '108B BIDADARI PK DR',
 '108B CANBERRA WALK',
 '108B MCNAIR RD',
 '108C CANBERRA WALK',
 '108C MCNAIR RD',
 '109 ALJUNIED CRES',
 '109 ANG MO KIO AVE 4',
 '109 BEDOK NTH RD',
 '109 BEDOK RESERVOIR RD',
 '109 BISHAN ST 12',
 '109 BT BATOK WEST AVE 6',
 '109 BT PURMEI RD',
 "109 C'WEALTH CRES",
 '109 CLEMENTI ST 11',
 '109 GANGSA RD',
 '109 HOUGANG AVE 1',
 '109 JLN BT MERAH',
 '109 JURONG EAST ST 13',
 '109 LENGKONG TIGA',
 '109 LOR 1 TOA PAYOH',
 '109 MCNAIR RD',
 '109 PASIR RIS ST 11',
 '109 POTONG PASIR AVE 1',
 '109 RIVERVALE WALK',
 '109 SERANGOON NTH AVE 1',
 '109 SIMEI ST 1',
 '109 SPOTTISWOODE PK RD',
 '109 TAMPINES ST 11',
 '109 TECK WHYE LANE',
 '109 WHAMPOA RD',
 '109 WOODLANDS ST 13',
 '109 YISHUN RING RD',
 '109A BIDADARI PK DR',
 '109A CANBERRA WALK',
 '109A DEPOT RD',
 '109A EDGEDALE PLAINS',
 '109B BIDADARI PK DR',
 '109B CANBERRA WALK',
 '109B DEPOT RD',
 '109B EDGEDALE PLAINS',
 '109C CANBERRA WALK',
 '109C EDGEDALE PLAINS',
 '109D CANBERRA WALK',
 '109D EDGEDALE PLAINS',
 '11 CANTONMENT CL',
 '11 CHAI CHEE RD',
 '11 EUNOS CRES',
 '11 FARRER PK RD',
 '11 HAIG RD',
 '11 HOLLAND DR',
 '11 JLN BATU',
 '11 JLN BT MERAH',
 '11 JOO SENG RD',
 '11 LOR 8 TOA PAYOH',
 '11 MARSILING DR',
 '11 PINE CL',
 "11 ST. GEORGE'S RD",
 '11 TECK WHYE LANE',
 '11 TOH YI DR',
 '11 UPP BOON KENG RD',
 '110 ALJUNIED CRES',
 '110 ANG MO KIO AVE 4',
 '110 BEDOK RESERVOIR RD',
 '110 BEDOK NTH RD',
 '110 BISHAN ST 12',
 '110 BT PURMEI RD',
 '110 BT BATOK WEST AVE 6',
 "110 C'WEALTH CRES",
 '110 CLEMENTI ST 13',
 '110 GANGSA RD',
 '110 HOUGANG AVE 1',
 '110 JURONG EAST ST 13',
 '110 LENGKONG TIGA',
 '110 LOR 1 TOA PAYOH',
 '110 MCNAIR RD',
 '110 PASIR RIS ST 11',
 '110 RIVERVALE WALK',
 '110 SERANGOON NTH AVE 1',
 '110 SIMEI ST 1',
 '110 SPOTTISWOODE PK RD',
 '110 TAMPINES ST 11',
 '110 TECK WHYE LANE',
 '110 WHAMPOA RD',
 '110 WOODLANDS ST 13',
 '110 YISHUN RING RD',
 '110A BIDADARI PK DR',
 '110A DEPOT RD',
 '110A PUNGGOL FIELD',
 '110B BIDADARI PK DR',
 '110B PUNGGOL FIELD',
 '110C PUNGGOL FIELD',
 '110D PUNGGOL FIELD',
 '111 ALJUNIED CRES',
 '111 ANG MO KIO AVE 4',
 '111 BEDOK NTH RD',
 '111 BEDOK RESERVOIR RD',
 '111 BISHAN ST 12',
 '111 BT BATOK WEST AVE 6',
 '111 BT PURMEI RD',
 "111 C'WEALTH CRES",
 '111 CLEMENTI ST 13',
 '111 EDGEFIELD PLAINS',
 '111 GANGSA RD',
 '111 HO CHING RD',
 '111 HOUGANG AVE 1',
 '111 JLN BT MERAH',
 '111 JURONG EAST ST 13',
 '111 LENGKONG TIGA',
 '111 LOR 1 TOA PAYOH',
 '111 LOR 3 GEYLANG',
 '111 MCNAIR RD',
 '111 PASIR RIS ST 11',
 '111 RIVERVALE WALK',
 '111 SERANGOON NTH AVE 1',
 '111 SIMEI ST 1',
 '111 TAMPINES ST 11',
 '111 TECK WHYE LANE',
 '111 WHAMPOA RD',
 '111 WOODLANDS ST 13',
 '111 YISHUN RING RD',
 '111A ALKAFF CRES',
 '111A DEPOT RD',
 '111B ALKAFF CRES',
 '111B DEPOT RD',
 '112 ALJUNIED CRES',
 '112 ANG MO KIO AVE 4',
 '112 BEDOK RESERVOIR RD',
 '112 BEDOK NTH RD',
 '112 BISHAN ST 12',
 '112 BT PURMEI RD',
 '112 BT BATOK WEST AVE 6',
 "112 C'WEALTH CRES",
 '112 CLEMENTI ST 13',
 '112 EDGEFIELD PLAINS',
 '112 HO CHING RD',
 '112 HOUGANG AVE 1',
 '112 JURONG EAST ST 13',
 '112 LENGKONG TIGA',
 '112 LOR 1 TOA PAYOH',
 '112 LOR 3 GEYLANG',
 '112 MCNAIR RD',
 '112 PASIR RIS ST 11',
 '112 PENDING RD',
 '112 RIVERVALE WALK',
 '112 SERANGOON NTH AVE 1',
 '112 SIMEI ST 1',
 '112 TAMPINES ST 11',
 '112 TECK WHYE LANE',
 '112 WHAMPOA RD',
 '112 WOODLANDS ST 13',
 '112 YISHUN RING RD',
 '112A ALKAFF CRES',
 '112A DEPOT RD',
 '112B ALKAFF CRES',
 '112B DEPOT RD',
 '113 ANG MO KIO AVE 4',
 '113 BEDOK NTH ST 2',
 '113 BEDOK RESERVOIR RD',
 '113 BISHAN ST 12',
 '113 BT BATOK WEST AVE 6',
 '113 BT PURMEI RD',
 "113 C'WEALTH CRES",
 '113 CLEMENTI ST 13',
 '113 DEPOT RD',
 '113 HOUGANG AVE 1',
 '113 JLN BT MERAH',
 '113 JURONG EAST ST 13',
 '113 LENGKONG TIGA',
 '113 LOR 1 TOA PAYOH',
 '113 LOR 3 GEYLANG',
 '113 PASIR RIS ST 11',
 '113 PENDING RD',
 '113 POTONG PASIR AVE 1',
 '113 RIVERVALE WALK',
 '113 SERANGOON NTH AVE 1',
 '113 SIMEI ST 1',
 '113 TAMPINES ST 11',
 '113 TAO CHING RD',
 '113 TECK WHYE LANE',
 '113 WHAMPOA RD',
 '113 WOODLANDS ST 13',
 '113 YISHUN RING RD',
 '113A ALKAFF CRES',
 '113A MCNAIR RD',
 '113B ALKAFF CRES',
 '113B MCNAIR RD',
 '113C MCNAIR RD',
 '113D MCNAIR RD',
 '114 ANG MO KIO AVE 4',
 '114 BEDOK RESERVOIR RD',
 '114 BEDOK NTH ST 2',
 '114 BISHAN ST 12',
 '114 BT BATOK WEST AVE 6',
 '114 BT PURMEI RD',
 '114 CLEMENTI ST 13',
 '114 DEPOT RD',
 '114 EDGEFIELD PLAINS',
 '114 HOUGANG AVE 1',
 '114 HO CHING RD',
 '114 JURONG EAST ST 13',
 '114 LENGKONG TIGA',
 '114 LOR 1 TOA PAYOH',
 '114 LOR 3 GEYLANG',
 '114 MARSILING RISE',
 '114 PASIR RIS ST 11',
 '114 PENDING RD',
 '114 POTONG PASIR AVE 1',
 '114 RIVERVALE WALK',
 '114 SERANGOON NTH AVE 1',
 '114 SIMEI ST 1',
 '114 TAMPINES ST 11',
 '114 TECK WHYE LANE',
 '114 WHAMPOA RD',
 '114 YISHUN RING RD',
 '114A ALKAFF CRES',
 '114B ALKAFF CRES',
 '115 ALJUNIED AVE 2',
 '115 BEDOK NTH RD',
 '115 BEDOK RESERVOIR RD',
 '115 BISHAN ST 12',
 '115 BT BATOK WEST AVE 6',
 '115 BT PURMEI RD',
 '115 BT MERAH CTRL',
 '115 CLEMENTI ST 13',
 '115 EDGEFIELD PLAINS',
 '115 HO CHING RD',
 '115 HOUGANG AVE 1',
 '115 JURONG EAST ST 13',
 '115 LENGKONG TIGA',
 '115 LOR 1 TOA PAYOH',
 '115 MARSILING RISE',
 '115 PASIR RIS ST 11',
 '115 PENDING RD',
 '115 POTONG PASIR AVE 1',
 '115 RIVERVALE WALK',
 '115 SERANGOON NTH AVE 1',
 '115 TECK WHYE LANE',
 '115 WHAMPOA RD',
 '115 YISHUN RING RD',
 '115A ALKAFF CRES',
 '115A CANBERRA WALK',
 '115A JLN AYER',
 '115A YISHUN RING RD',
 '115B CANBERRA WALK',
 '115B JLN AYER',
 '115B YISHUN RING RD',
 '115C ALKAFF CRES',
 '115C CANBERRA WALK',
 '115C YISHUN RING RD',
 '115D CANBERRA WALK',
 '116 ALJUNIED AVE 2',
 '116 ANG MO KIO AVE 4',
 '116 BEDOK RESERVOIR RD',
 '116 BEDOK NTH RD',
 '116 BISHAN ST 12',
 '116 BT BATOK WEST AVE 6',
 '116 BT MERAH CTRL',
 '116 BT MERAH VIEW',
 '116 CLEMENTI ST 13',
 '116 EDGEFIELD PLAINS',
 '116 HOUGANG AVE 1',
 '116 JURONG EAST ST 13',
 '116 LENGKONG TIGA',
 '116 LOR 2 TOA PAYOH',
 '116 MARSILING RISE',
 '116 PASIR RIS ST 11',
 '116 PENDING RD',
 '116 POTONG PASIR AVE 1',
 '116 SERANGOON NTH AVE 1',
 '116 SIMEI ST 1',
 '116 TECK WHYE LANE',
 '116 YISHUN RING RD',
 '116A CANBERRA CRES',
 '116A JLN TENTERAM',
 '116A RIVERVALE DR',
 '116B JLN TENTERAM',
 '116B RIVERVALE DR',
 '116C RIVERVALE DR',
 '117 ANG MO KIO AVE 4',
 '117 BEDOK NTH RD',
 '117 BEDOK RESERVOIR RD',
 '117 BISHAN ST 12',
 '117 BT MERAH CTRL',
 '117 BT BATOK WEST AVE 6',
 '117 CLEMENTI ST 13',
 '117 EDGEFIELD PLAINS',
 '117 HOUGANG AVE 1',
 '117 LOR 1 TOA PAYOH',
 '117 MARSILING RISE',
 '117 PASIR RIS ST 11',
 '117 PENDING RD',
 '117 POTONG PASIR AVE 1',
 '117 SERANGOON NTH AVE 1',
 '117 SIMEI ST 1',
 '117 TAMPINES ST 11',
 '117 TECK WHYE LANE',
 '117 YISHUN RING RD',
 '117A CANBERRA CRES',
 '117A JLN TENTERAM',
 '117A RIVERVALE DR',
 '117B CANBERRA CRES',
 '117B JLN TENTERAM',
 '117B RIVERVALE DR',
 '117C RIVERVALE DR',
 '118 ANG MO KIO AVE 4',
 '118 BEDOK RESERVOIR RD',
 '118 BEDOK NTH ST 2',
 '118 BISHAN ST 12',
 '118 BT MERAH VIEW',
 '118 BT BATOK WEST AVE 6',
 '118 CLEMENTI ST 13',
 '118 EDGEFIELD PLAINS',
 '118 HOUGANG AVE 1',
 '118 LOR 1 TOA PAYOH',
 '118 MARSILING RISE',
 '118 PASIR RIS ST 11',
 '118 PENDING RD',
 '118 POTONG PASIR AVE 1',
 '118 SERANGOON NTH AVE 1',
 '118 TECK WHYE LANE',
 '118 YISHUN RING RD',
 '118A ALKAFF CRES',
 '118A CANBERRA CRES',
 '118A JLN MEMBINA',
 '118B CANBERRA CRES',
 '118B JLN MEMBINA',
 '118C JLN MEMBINA',
 '118D JLN MEMBINA',
 '119 ALJUNIED AVE 2',
 '119 ANG MO KIO AVE 3',
 '119 BEDOK RESERVOIR RD',
 '119 BEDOK NTH RD',
 '119 BISHAN ST 12',
 '119 BT MERAH VIEW',
 '119 BT BATOK WEST AVE 6',
 '119 HO CHING RD',
 '119 HOUGANG AVE 1',
 '119 LOR 1 TOA PAYOH',
 '119 MARSILING RISE',
 '119 MCNAIR RD',
 '119 PASIR RIS ST 11',
 '119 PENDING RD',
 '119 POTONG PASIR AVE 1',
 '119 SERANGOON NTH AVE 1',
 '119 SIMEI ST 1',
 '119 TECK WHYE LANE',
 '119 YISHUN RING RD',
 '119A CANBERRA CRES',
 '119A RIVERVALE DR',
 '119B CANBERRA CRES',
 '119B KIM TIAN RD',
 '119B RIVERVALE DR',
 '119C KIM TIAN RD',
 '119C RIVERVALE DR',
 '119D KIM TIAN RD',
 '119D RIVERVALE DR',
 '12 CANTONMENT CL',
 '12 DOVER CL EAST',
 '12 FARRER PK RD',
 '12 HAIG RD',
 '12 HOLLAND AVE',
 '12 JLN BT MERAH',
 '12 JOO SENG RD',
 '12 KG ARANG RD',
 '12 LOR 7 TOA PAYOH',
 '12 MARSILING LANE',
 '12 MARINE TER',
 '12 NTH BRIDGE RD',
 '12 PINE CL',
 "12 ST. GEORGE'S RD",
 '12 TAMAN HO SWEE',
 '12 TECK WHYE LANE',
 '12 TELOK BLANGAH CRES',
 '12 TOH YI DR',
 '12 UPP BOON KENG RD',
 '12A MARSILING LANE',
 '12B MARSILING LANE',
 '12C MARSILING LANE',
 '120 ANG MO KIO AVE 3',
 '120 BEDOK RESERVOIR RD',
 '120 BEDOK NTH ST 2',
 '120 BISHAN ST 12',
 '120 BT MERAH VIEW',
 '120 BT BATOK CTRL',
 '120 GEYLANG EAST CTRL',
 '120 HOUGANG AVE 1',
 '120 HO CHING RD',
 '120 KIM TIAN PL',
 '120 LOR 2 TOA PAYOH',
 '120 MARSILING RISE',
 '120 MCNAIR RD',
 '120 PASIR RIS ST 11',
 '120 PAYA LEBAR WAY',
 '120 PENDING RD',
 '120 POTONG PASIR AVE 1',
 '120 SERANGOON NTH AVE 1',
 '120 SIMEI ST 1',
 '120 TECK WHYE LANE',
 '120 YISHUN RING RD',
 '120A CANBERRA CRES',
 '120A EDGEDALE PLAINS',
 '120A KIM TIAN PL',
 '120A RIVERVALE DR',
 '120B CANBERRA CRES',
 '120B EDGEDALE PLAINS',
 '120B RIVERVALE DR',
 '120C CANBERRA CRES',
 '120C RIVERVALE DR',
 '120D CANBERRA CRES',
 '121 ANG MO KIO AVE 3',
 '121 BEDOK RESERVOIR RD',
 '121 BEDOK NTH RD',
 '121 BISHAN ST 12',
 '121 BT BATOK CTRL',
 '121 HOUGANG AVE 1',
 '121 KIM TIAN PL',
 '121 LOR 2 TOA PAYOH',
 '121 MARSILING RISE',
 '121 MCNAIR RD',
 '121 PASIR RIS ST 11',
 '121 PAYA LEBAR WAY',
 '121 PENDING RD',
 '121 POTONG PASIR AVE 1',
 '121 RIVERVALE DR',
 '121 SERANGOON NTH AVE 1',
 '121 TECK WHYE LANE',
 '121 YISHUN ST 11',
 '121 YUAN CHING RD',
 '121A CANBERRA ST',
 '121A KIM TIAN PL',
 '121A RIVERVALE DR',
 '121B CANBERRA ST',
 '121B EDGEDALE PLAINS',
 '121B RIVERVALE DR',
 '121C CANBERRA ST',
 '121C SENGKANG EAST WAY',
 '121D CANBERRA ST',
 '121D SENGKANG EAST WAY',
 '122 ANG MO KIO AVE 3',
 '122 BEDOK NTH ST 2',
 '122 BEDOK RESERVOIR RD',
 '122 BISHAN ST 12',
 '122 BT BATOK CTRL',
 '122 BT MERAH LANE 1',
 '122 GEYLANG EAST CTRL',
 '122 HOUGANG AVE 1',
 '122 KIM TIAN RD',
 '122 LOR 2 TOA PAYOH',
 '122 MARSILING RISE',
 '122 MCNAIR RD',
 '122 PAYA LEBAR WAY',
 '122 PASIR RIS ST 11',
 '122 PENDING RD',
 '122 POTONG PASIR AVE 1',
 '122 SENGKANG EAST WAY',
 '122 SERANGOON NTH AVE 1',
 '122 SIMEI ST 1',
 '122 TECK WHYE LANE',
 '122 YISHUN ST 11',
 '122 YUAN CHING RD',
 '122A EDGEDALE PLAINS',
 '122A SENGKANG EAST WAY',
 '122B EDGEDALE PLAINS',
 '122B SENGKANG EAST WAY',
 '122C SENGKANG EAST WAY',
 '122D RIVERVALE DR',
 '122E RIVERVALE DR',
 '123 BEDOK RESERVOIR RD',
 '123 BEDOK NTH ST 2',
 '123 BISHAN ST 12',
 '123 BT BATOK CTRL',
 '123 GEYLANG EAST CTRL',
 '123 HOUGANG AVE 1',
 '123 KIM TIAN RD',
 '123 LOR 1 TOA PAYOH',
 '123 MARSILING RISE',
 '123 MCNAIR RD',
 '123 PASIR RIS ST 11',
 '123 PAYA LEBAR WAY',
 '123 PENDING RD',
 '123 POTONG PASIR AVE 1',
 '123 RIVERVALE DR',
 '123 SERANGOON NTH AVE 1',
 '123 SIMEI ST 1',
 '123 TECK WHYE LANE',
 '123 YISHUN ST 11',
 '123A RIVERVALE DR',
 '123B RIVERVALE DR',
 '123C RIVERVALE DR',
 '123D RIVERVALE DR',
 '123E RIVERVALE DR',
 '124 ANG MO KIO AVE 6',
 '124 BEDOK NTH RD',
 '124 BEDOK RESERVOIR RD',
 '124 BISHAN ST 12',
 '124 BT BATOK CTRL',
 '124 BT MERAH LANE 1',
 '124 GEYLANG EAST AVE 1',
 '124 HOUGANG AVE 1',
 '124 LOR 1 TOA PAYOH',
 '124 MARSILING RISE',
 '124 MCNAIR RD',
 '124 PAYA LEBAR WAY',
 '124 PASIR RIS ST 11',
 '124 PENDING RD',
 '124 POTONG PASIR AVE 1',
 '124 RIVERVALE DR',
 '124 SERANGOON NTH AVE 1',
 '124 SIMEI ST 1',
 '124 TAMPINES ST 11',
 '124 TECK WHYE LANE',
 '124 YISHUN ST 11',
 '124A BT MERAH VIEW',
 '124A RIVERVALE DR',
 '124B BT MERAH VIEW',
 '124B RIVERVALE DR',
 '124C RIVERVALE DR',
 '125 ALJUNIED RD',
 '125 BEDOK NTH RD',
 '125 BEDOK RESERVOIR RD',
 '125 BISHAN ST 12',
 '125 BT BATOK CTRL',
 '125 BT MERAH VIEW',
 '125 GEYLANG EAST AVE 1',
 '125 HOUGANG AVE 1',
 '125 KIM TIAN RD',
 '125 LOR 1 TOA PAYOH',
 '125 MARSILING RISE',
 '125 PASIR RIS ST 11',
 '125 PENDING RD',
 '125 POTONG PASIR AVE 1',
 '125 RIVERVALE ST',
 '125 SERANGOON NTH AVE 1',
 '125 TAMPINES ST 11',
 '125 YISHUN ST 11',
 '126 ALJUNIED RD',
 '126 ANG MO KIO AVE 3',
 '126 BEDOK RESERVOIR RD',
 '126 BEDOK NTH ST 2',
 '126 BISHAN ST 12',
 '126 BT MERAH VIEW',
 '126 BT BATOK CTRL',
 '126 GEYLANG EAST AVE 1',
 '126 HOUGANG AVE 1',
 '126 LOR 1 TOA PAYOH',
 '126 MARSILING RISE',
 '126 PASIR RIS ST 11',
 '126 PENDING RD',
 '126 POTONG PASIR AVE 1',
 '126 RIVERVALE ST',
 '126 SERANGOON NTH AVE 1',
 '126 SIMEI ST 1',
 '126 TAMPINES ST 11',
 '126 YISHUN ST 11',
 '126A CANBERRA ST',
 '126A EDGEDALE PLAINS',
 '126A KIM TIAN RD',
 '126B CANBERRA ST',
 '126B EDGEDALE PLAINS',
 '126C CANBERRA ST',
 '126C EDGEDALE PLAINS',
 '126C KIM TIAN RD',

In [35]:
def getAllData(address):
    req = requests.get('https://developers.onemap.sg/commonapi/search?searchVal='+address+'&returnGeom=Y&getAddrDetails=Y&pageNum=1')
    resultsdict = eval(req.text)
    if len(resultsdict['results'])>0:
        return resultsdict
    else:
        pass

In [36]:
getAllData(addresslist[0])

{'found': 3,
 'totalNumPages': 1,
 'pageNum': 1,
 'results': [{'SEARCHVAL': 'BEACH ROAD GARDENS',
   'BLK_NO': '1',
   'ROAD_NAME': 'BEACH ROAD',
   'BUILDING': 'BEACH ROAD GARDENS',
   'ADDRESS': '1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001',
   'POSTAL': '190001',
   'X': '31467.8327433812',
   'Y': '31778.8939971216',
   'LATITUDE': '1.3036713506088',
   'LONGITUDE': '103.864478660925',
   'LONGTITUDE': '103.864478660925'},
  {'SEARCHVAL': 'RAFFLES HOTEL',
   'BLK_NO': '1',
   'ROAD_NAME': 'BEACH ROAD',
   'BUILDING': 'RAFFLES HOTEL',
   'ADDRESS': '1 BEACH ROAD RAFFLES HOTEL SINGAPORE 189673',
   'POSTAL': '189673',
   'X': '30309.2672493933',
   'Y': '30830.8195986319',
   'LATITUDE': '1.29509740789339',
   'LONGITUDE': '103.85406834457',
   'LONGTITUDE': '103.85406834457'},
  {'SEARCHVAL': 'RAFFLES HOTEL SINGAPORE',
   'BLK_NO': '1',
   'ROAD_NAME': 'BEACH ROAD',
   'BUILDING': 'RAFFLES HOTEL SINGAPORE',
   'ADDRESS': '1 BEACH ROAD RAFFLES HOTEL SINGAPORE SINGAPORE 189673',
   'POSTAL': '189673',
   'X': '30336.71782865',
   'Y': '30811.63726395',
   'LATITUDE': '1.29492392757237',
   'LONGITUDE': '103.854314998464',
   'LONGTITUDE': '103.854314998464'}]}

In [31]:
def getData(address):
    req = requests.get('https://developers.onemap.sg/commonapi/search?searchVal='+address+'&returnGeom=Y&getAddrDetails=Y&pageNum=1')
    resultsdict = eval(req.text)
    if len(resultsdict['results'])>0:
        return resultsdict['results'][0]['BLK_NO'], resultsdict['results'][0]['ROAD_NAME'], resultsdict['results'][0]['BUILDING'], resultsdict['results'][0]['ADDRESS'], resultsdict['results'][0]['POSTAL'], resultsdict['results'][0]['LATITUDE'], resultsdict['results'][0]['LONGITUDE']
    else:
        pass

In [32]:
getData(addresslist[0])

('1',
 'BEACH ROAD',
 'BEACH ROAD GARDENS',
 '1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001',
 '190001',
 '1.3036713506088',
 '103.864478660925')

In [41]:
import time
from tqdm import tqdm
coordinateslist= []
count = 0
failed_count = 0
for address in tqdm(addresslist):
    try:
        if len(getData(address))>0:
            count = count + 1
            #print('Extracting',count,'out of',len(addresslist),'addresses')
            coordinateslist.append(getData(address))
    except:
        count = count + 1           
        failed_count = failed_count + 1
        #print('Failed to extract',count,'out of',len(addresslist),'addresses')
        coordinateslist.append(None)

print('Total Number of Addresses parsed',count)
print('Total Number of Addresses With No Coordinates',failed_count)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9948/9948 [32:05<00:00,  5.17it/s]

Total Number of Addresses parsed 9948
Total Number of Addresses With No Coordinates 0

In [47]:
df_coordinates = pd.DataFrame(coordinateslist)
df_combined = df.join(df_coordinates)
df_combined  = df_combined .rename(columns={0:'BLK_NO', 
                                            1:'ROAD_NAME',
                                            2:'BUILDING',
                                            3:'ADDRESS',
                                            4:'POSTAL',
                                            5:'LATITUDE',
                                            6:'LONGITUDE',
                                            })
df_combined

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_rental,other_room_rental,Address,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,LATITUDE,LONGITUDE
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,0,0,1 BEACH RD,1,BEACH ROAD,BEACH ROAD GARDENS,1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001,190001,1.3036713506088,103.864478660925
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,0,0,1 BEDOK STH AVE 1,1,BEDOK SOUTH AVENUE 1,NIL,1 BEDOK SOUTH AVENUE 1 SINGAPORE 460001,460001,1.32085208689731,103.933721091441
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,0,1 CHAI CHEE RD,1,CHANGI VILLAGE ROAD,NIL,1 CHANGI VILLAGE ROAD SINGAPORE 500001,500001,1.38854656229022,103.987804503483
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,0,0,1 CHANGI VILLAGE RD,1,DELTA AVENUE,NIL,1 DELTA AVENUE SINGAPORE 160001,160001,1.2920752508431,103.828584077626
5,1,DELTA AVE,25,1982,Y,N,N,N,N,N,...,0,0,1 DELTA AVE,1,DOVER ROAD,DOVER COMMUNITY CENTRE,1 DOVER ROAD DOVER COMMUNITY CENTRE SINGAPORE ...,130001,1.3025299473495,103.783271662459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12486,997B,BUANGKOK CRES,16,2017,Y,N,N,Y,N,N,...,0,0,997B BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12487,997C,BUANGKOK CRES,16,2017,Y,N,N,N,N,N,...,0,0,997C BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12490,998A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,0,0,998A BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12491,998B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,0,0,998B BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12494,999B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,0,0,999B BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df_combined.to_csv("hdb_property_processed.csv",index=False)

In [49]:
df_combined[(df_combined['LATITUDE'].notnull()) | (df_combined['LONGITUDE'].notnull())]

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_rental,other_room_rental,Address,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,LATITUDE,LONGITUDE
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,0,0,1 BEACH RD,1,BEACH ROAD,BEACH ROAD GARDENS,1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001,190001,1.3036713506088,103.864478660925
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,0,0,1 BEDOK STH AVE 1,1,BEDOK SOUTH AVENUE 1,NIL,1 BEDOK SOUTH AVENUE 1 SINGAPORE 460001,460001,1.32085208689731,103.933721091441
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,0,1 CHAI CHEE RD,1,CHANGI VILLAGE ROAD,NIL,1 CHANGI VILLAGE ROAD SINGAPORE 500001,500001,1.38854656229022,103.987804503483
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,0,0,1 CHANGI VILLAGE RD,1,DELTA AVENUE,NIL,1 DELTA AVENUE SINGAPORE 160001,160001,1.2920752508431,103.828584077626
5,1,DELTA AVE,25,1982,Y,N,N,N,N,N,...,0,0,1 DELTA AVE,1,DOVER ROAD,DOVER COMMUNITY CENTRE,1 DOVER ROAD DOVER COMMUNITY CENTRE SINGAPORE ...,130001,1.3025299473495,103.783271662459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9942,658C,PUNGGOL EAST,18,2017,Y,N,N,Y,N,N,...,0,0,658C PUNGGOL EAST,997A,BUANGKOK CRESCENT,BUANGKOK EDGEVIEW,997A BUANGKOK CRESCENT BUANGKOK EDGEVIEW SINGA...,531997,1.38504599856502,103.881166649447
9943,658D,JURONG WEST ST 65,16,2000,Y,N,N,Y,N,N,...,0,0,658D JURONG WEST ST 65,997B,BUANGKOK CRESCENT,BUANGKOK EDGEVIEW,997B BUANGKOK CRESCENT BUANGKOK EDGEVIEW SINGA...,532997,1.38590156781199,103.8813870478
9944,659,CHOA CHU KANG CRES,16,1998,Y,N,N,N,N,N,...,0,0,659 CHOA CHU KANG CRES,997C,BUANGKOK CRESCENT,BUANGKOK EDGEVIEW,997C BUANGKOK CRESCENT BUANGKOK EDGEVIEW SINGA...,534997,1.38553018206225,103.881587879925
9945,659,HOUGANG AVE 8,4,1987,Y,N,N,N,N,N,...,0,0,659 HOUGANG AVE 8,998A,BUANGKOK CRESCENT,BUANGKOK PARKVISTA,998A BUANGKOK CRESCENT BUANGKOK PARKVISTA SING...,531998,1.38375782968293,103.880172193688
9946,659,JLN TENAGA,15,1995,Y,N,N,N,N,N,...,0,0,659 JLN TENAGA,998B,BUANGKOK CRESCENT,BUANGKOK PARKVISTA,998B BUANGKOK CRESCENT BUANGKOK PARKVISTA SING...,532998,1.38410075238235,103.88050459967

In [37]:
import pandas as pd
# https://data.gov.sg/dataset/hdb-property-information?resource_id=482bfa14-2977-4035-9c61-c85f871daf4e
df = pd.read_csv(r"hdb_property_processed.csv")
df.head()

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_rental,other_room_rental,Address,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,LATITUDE,LONGITUDE
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,0,0,1 BEACH RD,1,BEACH ROAD,BEACH ROAD GARDENS,1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001,190001,1.303671,103.864479
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,0,0,1 BEDOK STH AVE 1,1,BEDOK SOUTH AVENUE 1,NIL,1 BEDOK SOUTH AVENUE 1 SINGAPORE 460001,460001,1.320852,103.933721
2,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,0,1 CHAI CHEE RD,1,CHANGI VILLAGE ROAD,NIL,1 CHANGI VILLAGE ROAD SINGAPORE 500001,500001,1.388547,103.987805
3,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,0,0,1 CHANGI VILLAGE RD,1,DELTA AVENUE,NIL,1 DELTA AVENUE SINGAPORE 160001,160001,1.292075,103.828584
4,1,DELTA AVE,25,1982,Y,N,N,N,N,N,...,0,0,1 DELTA AVE,1,DOVER ROAD,DOVER COMMUNITY CENTRE,1 DOVER ROAD DOVER COMMUNITY CENTRE SINGAPORE ...,130001,1.302530,103.783272

In [13]:
from geopandas import GeoDataFrame
from shapely import geometry

geometry = [geometry.Point(xy) for xy in zip(df.LONGITUDE, df.LATITUDE)]
gdf = GeoDataFrame(df, crs="EPSG:3857", geometry=geometry)
gdf

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,other_room_rental,Address,BLK_NO,ROAD_NAME,BUILDING,ADDRESS,POSTAL,LATITUDE,LONGITUDE,geometry
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,0,1 BEACH RD,1,BEACH ROAD,BEACH ROAD GARDENS,1 BEACH ROAD BEACH ROAD GARDENS SINGAPORE 190001,190001,1.303671,103.864479,POINT (103.86448 1.30367)
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,0,1 BEDOK STH AVE 1,1,BEDOK SOUTH AVENUE 1,NIL,1 BEDOK SOUTH AVENUE 1 SINGAPORE 460001,460001,1.320852,103.933721,POINT (103.93372 1.32085)
2,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,1 CHAI CHEE RD,1,CHANGI VILLAGE ROAD,NIL,1 CHANGI VILLAGE ROAD SINGAPORE 500001,500001,1.388547,103.987805,POINT (103.98780 1.38855)
3,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,0,1 CHANGI VILLAGE RD,1,DELTA AVENUE,NIL,1 DELTA AVENUE SINGAPORE 160001,160001,1.292075,103.828584,POINT (103.82858 1.29208)
4,1,DELTA AVE,25,1982,Y,N,N,N,N,N,...,0,1 DELTA AVE,1,DOVER ROAD,DOVER COMMUNITY CENTRE,1 DOVER ROAD DOVER COMMUNITY CENTRE SINGAPORE ...,130001,1.302530,103.783272,POINT (103.78327 1.30253)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,997B,BUANGKOK CRES,16,2017,Y,N,N,Y,N,N,...,0,997B BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
9944,997C,BUANGKOK CRES,16,2017,Y,N,N,N,N,N,...,0,997C BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
9945,998A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,0,998A BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
9946,998B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,0,998B BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)
9947,999B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,0,999B BUANGKOK CRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (nan nan)